<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>Amaze UI</strong> <small>后台管理模板</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> <span id="admin"></span> <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <div id="leftmenu"></div>
            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 帮助</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基础数据</strong> / <small>执行过程</small></div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12" >
                    <hr>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="#"><input type="button" id="add" name="" value="新增过程" class="am-btn am-btn-primary am-btn-sm am-fl"></a>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select id="typequery" data-am-selected="{btnSize: 'sm'}">
                                    <option value="0">所有类别</option>
                                    <option value="1">工商注册</option>
                                    <option value="2">工商变更</option>
                                    <option value="3">银行开户</option>
                                    <option value="4">财务代理</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" id="keywords" class="am-form-field">
                                  <span class="am-input-group-btn">
                                    <button id="query" class="am-btn am-btn-default" type="button">搜索</button>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12">
                    <div id="list"></div>
                </div>
                <div class="am-u-sm-12">
                    <div class="am-fr"style="float: left;">
                        <ul class="am-pagination">
                            <li id="pro"><a href="#">上一页</a></li>
                            <li id="nex"><a href="#">下一页</a></li>
                            <li id="totle"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <div id="footer"></div>
        </footer>
    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="layer/layer.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    var pagecount=9;
    var nowpage=0;
    //当前页
    var currentpage=1;
    //ID
    var Id='';
    //count
    var count=0;
    //pages
    var pages=0;
    class proceduce{};
    $("#add").click(function () {
        $('#ProcedureName').val('');
        layer.open({
            title:'新增过程',
            area: ['600px', '440px'],
            type: 1,
            shadeClose: true, //点击遮罩关闭
            content: $("#div_add")
        });
    });
    $(function(){
        inifrm();
        $('#admin').html('当前用户');
        $('#bn_add').click(function(){
            if(checkdata()==false){
                return ;
            }else{
                var newobj=new proceduce();
                newobj.check(function(flag){
                    console.log(flag);
                    if(flag=='YES'){
                        newobj.add();
                    }
                    if(flag=='NO'){
                        alert('当前过程已经存在！');
                        return;
                    }
                    if(flag=='no'){
                        window.location.href='/login';
                    }
                });
            }
        });
        $('#bn_update').click(function(){
            if(checkdataforupdate()==false){
                return ;
            }else{
                checkDataBeforeUpdate(function(flag){
                    if(flag=='YES'){
                        var newobj=new proceduce();
                        newobj.edit();
                    }
                    if(flag=='NO'){
                        alert('当前过程已经存在！');
                        return;
                    }
                    if(flag=='no'){
                        window.location.href='/login';
                    }
                });
            }
        });
        $('#query').click(function(){
            nowpage=0;
            currentpage=1;
            nextPage();
        });
        $('#pro').click(function(){
            proPage();
        });
        $('#nex').click(function(){
            nextPage();
        });
    });
    //校验数据
    var checkdata=function(){
        if($('#ProcedureName').val()==''){
            alert('过程名称不能为空！');
            return false;
        }
        if($('#Typelist').val()==''){
            alert('请选择过程类别！');
            return false;
        }
        if($('#MoneyCost').val()==''){
            alert('执行成本可以为0，不能为空！');
            return false;
        }
        if($('#TimeCost').val()==''){
            alert('执行成本可以为0，不能为空！');
            return false;
        }
        if(parseFloat($('#MoneyCost').val())<0){
            alert('单价不能小于0！');
            return false;
        }
        if(parseFloat($('#TimeCost').val())<0){
            alert('时间成不能小于0！');
            return false;
        }
        return true;
    };
    //校验数据(修改)
    var checkdataforupdate=function(){
        if($('#ProcedureName_edit').val()==''){
            alert('过程名称不能为空！');
            return false;
        }
        if($('#Typelist_edit').val()==''){
            alert('请选择过程类别！');
            return false;
        }
        if($('#MoneyCost_edit').val()==''){
            alert('执行成本可以为0，不能为空！');
            return false;
        }
        if($('#TimeCost_edit').val()==''){
            alert('时间成本可以为0，不能为空！');
            return false;
        }
        if(parseFloat($('#MoneyCost_edit').val())<0){
            alert('执行成本不能小于0！');
            return false;
        }
        if(parseFloat($('#TimeCost_edit').val())<0){
            alert('时间成不能小于0！');
            return false;
        }
        return true;
    };
    //修改数据
    var editProcess=function(n){
        Id=n;
        layer.open({
            title:'编辑过程',
            area: ['600px', '360px'],
            type: 1,
            shadeClose: false, //点击遮罩关闭
            content: $("#div_edit")
        });
        setTimeout(function(){
            $.ajax({
                type:'get',
                url:'/procedure/'+n+'/getProdureById',
                data:{},
                dataType:'json',
                success:function(data){
                    $('#ProcedureName_edit').val(data.ProcedureName);
                    $('#Typelist_edit').val(data.TypeId);
                    $('#MoneyCost_edit').val(data.MoneyCost);
                    $('#TimeCost_edit').val(data.TimeCost);
                },
                error:function(e){
                    console.log(e);
                }
            });
        },200);
    };
    //修改保存前校验数据是否可修改
    var checkDataBeforeUpdate=function(callback){
        var flag='true';
        $.ajax({
            type:'get',
            url:'/procedure/check',
            data:{'ProcedureName':$('#ProcedureName_edit').val(),'stat':'0','Id':Id},
            dataType:'json',
            success:function(data){
                console.log(data);
                callback(data.msg);
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    proceduce.prototype.check=function(callback){
        var flag='true';
        $.ajax({
            type:'get',
            url:'/procedure/check',
            data:{'ProcedureName':$('#ProcedureName').val(),'stat':'0'},
            dataType:'json',
            success:function(data){
                console.log(data);
                callback(data.msg);
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    proceduce.prototype.add=function(){
        $.ajax({
            type:'post',
            url:'/procedure/',
            data:{'ProcedureName':$('#ProcedureName').val(),'MoneyCost':$('#MoneyCost').val(),'TimeCost':$('#TimeCost').val(),'TypeId':$('#Typelist').val()},
            dataType:'json',
            success:function(data){
                if(data.msg=='YES'){
                    alert('新增成功!');
                    //重新加载查询列表
                }else{
                    window.location.href='/login';
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    proceduce.prototype.edit=function(){
        $.ajax({
            type:'post',
            url:'/procedure/'+Id+'/update',
            data:{'ProcedureName':$('#ProcedureName_edit').val(),'MoneyCost':$('#MoneyCost_edit').val(),'TimeCost':$('#TimeCost_edit').val(),'TypeId':$('#Typelist_edit').val()},
            dataType:'json',
            success:function(data){
                if(data.msg=='YES'){
                    alert('修改成功!');
                    //重新加载查询列表
                    $('#ProcedureName_'+Id).html($('#ProcedureName_edit').val());
                    $('#TypeName_'+Id).html($('#Typelist_edit').find("option:selected").text());
                    $('#MoneyCost_'+Id).html($('#MoneyCost_edit').val());
                    $('#TimeCost_'+Id).html($('#TimeCost_edit').val());
                }else{
                    window.location.href='/login';
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    proceduce.prototype.remove=function(){

    };
    proceduce.prototype.list=function(){
        $.ajax({
            type:'get',
            url:'/procedure/query',
            data:{},
            dataType:'json',
            success:function(data){
                if(data.msg=='yes'){

                }else{
                    window.location.href='/login';
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    //初始化类别
    var iniTypeList=function(){
        $.ajax({
            type:'get',
            url:'/type/query',
            data:{},
            dataType:'json',
            success:function(datas){
                var data=datas.result;
                var temp_list='';
                var temp_list_edit='';
                var temp_list_query='';
                for(var i=0;i<data.length;i++){
                    temp_list=temp_list+'<option value="'+data[i].Id+'">'+data[i].TypeName+'</option>';
                    temp_list_edit=temp_list_edit+'<option value="'+data[i].Id+'">'+data[i].TypeName+'</option>';
                }
                temp_list='<select id="Typelist" "><option value=""></option>'+temp_list+'</select>';
                temp_list_edit='<select id="Typelist_edit" "><option value=""></option>'+temp_list_edit+'</select>';
                $('#Types').html(temp_list);
                $('#Types_edit').html(temp_list_edit);
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    var inifrm=function(){
        $.ajax({
            type:'get',
            url:'/inifrm',
            data:{},
            dataType:'json',
            success:function(data){
                iniTypeList();
                iniPage();
                inifrms();
            },
            error:function(err){
                console.log(err);
            }
        });
    };
    //初始化操作
    var inifrms=function(){
        $.commonoperation._createFooterHtml(function(data){
            $('#footer').html(data);
        });
        $.commonoperation._createLeftMenu(function(data){
            console.log(data);
            $('#leftmenu').html(data);
        });
    };
    //上一页
    function proPage(){
        if(nowpage==0){
            alert('已是最前页');
        }
        else{
            currentpage=nowpage-1;
            $.ajax({
                type: "get",
                //方法所在页面和方法名
                url: "/procedure/query",
                data:{keywords:$('#keywords').val().trim(),Stat:0,currentpage:currentpage,count:pagecount,TypeId:$('#typequery').val()},
                dataType: "json",
                success: function (result) {
                    var data=result.result.data;
                    console.log(data);
                    count=result.result.count;
                    $('#totle').html('总记录数：'+count);
                    pages=Math.ceil(count/pagecount);
                    nowpage--;
                    var temp='';
                    for(var i=0;i<data.length;i++){
                        temp=temp+'<tr>'+
                                '<td>'+data[i].Id+'</td><td><span id="ProcedureName_'+data[i].Id+'">'+data[i].ProcedureName+'</span></td>'+
                                '<td><span id="TypeName_'+data[i].Id+'">'+data[i].TypeName+'</span></td>'+
                                '<td><span id="MoneyCost_'+data[i].Id+'">'+data[i].MoneyCost+'</span></td>'+
                                '<td><span id="TimeCost_'+data[i].Id+'">'+data[i].TimeCost+'</span></td>'+
                                '<td>'+
                                '<div class="am-dropdown" data-am-dropdown>'+
                                '<button  onclick="editProcess('+data[i].Id+');" class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span></button>'+
                                '</div>'+
                                '</td>'+
                                '</tr>';
                    }
                    temp='<tbody>'+temp+'</tbody>';
                    temp='<table class="am-table am-table-bd am-table-striped admin-content-table">'+
                            '<thead>'+
                            '<tr>'+
                            '<th>ID</th><th>过程名称</th><th>过程类别</th><th>成本(元)</th><th>周期(天)</th><th>管理</th>'+
                            '</tr>'+
                            '</thead>'+temp+'</table>';
                    $('#list').html(temp);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    //下一页
    function nextPage(){
        if(currentpage==pages){
            alert('已是最后一页！');
            return;
        }
        currentpage=nowpage+1;
        $.ajax({
            type: "get",
            //方法所在页面和方法名
            url: "/procedure/query",
            data:{keywords:$('#keywords').val().trim(),Stat:0,currentpage:currentpage,count:pagecount,TypeId:$('#typequery').val()},
            dataType: "json",
            success: function (result) {
                var data=result.result.data;
                count=result.result.count;
                $('#totle').html('总记录数：'+count);
                pages=Math.ceil(count/pagecount);
                nowpage++;
                currentpage++;
                var temp='';
                for(var i=0;i<data.length;i++){
                    temp=temp+'<tr>'+
                            '<td>'+data[i].Id+'</td><td><span id="ProcedureName_'+data[i].Id+'">'+data[i].ProcedureName+'</span></td>'+
                            '<td><span id="TypeName_'+data[i].Id+'">'+data[i].TypeName+'</span></td>'+
                            '<td><span id="MoneyCost_'+data[i].Id+'">'+data[i].MoneyCost+'</span></td>'+
                            '<td><span id="TimeCost_'+data[i].Id+'">'+data[i].TimeCost+'</span></td>'+
                            '<td>'+
                            '<div class="am-dropdown" data-am-dropdown>'+
                            '<button  onclick="editProcess('+data[i].Id+');" class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span></button>'+
                            '</div>'+
                            '</td>'+
                            '</tr>';
                }
                temp='<tbody>'+temp+'</tbody>';
                temp='<table class="am-table am-table-bd am-table-striped admin-content-table">'+
                        '<thead>'+
                        '<tr>'+
                        '<th>ID</th><th>过程名称</th><th>过程类别</th><th>成本(元)</th><th>周期(天)</th><th>管理</th>'+
                        '</tr>'+
                        '</thead>'+temp+'</table>';
                $('#list').html(temp);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //初始化列表
    function iniPage(){
        $.ajax({
            type: "get",
            //方法所在页面和方法名
            url: "/procedure/query",
            data:{keywords:'',Stat:0,currentpage:0,count:pagecount},
            dataType: "json",
            success: function (result) {
                var data=result.result.data;
                console.log(data);
                count=result.result.count;
                $('#totle').html('总记录数：'+count);
                pages=Math.ceil(count/pagecount);
                var temp='';
                for(var i=0;i<data.length;i++){
                    temp=temp+'<tr>'+
                            '<td>'+data[i].Id+'</td><td><span id="ProcedureName_'+data[i].Id+'">'+data[i].ProcedureName+'</span></td>'+
                            '<td><span id="TypeName_'+data[i].Id+'">'+data[i].TypeName+'</span></td>'+
                            '<td><span id="MoneyCost_'+data[i].Id+'">'+data[i].MoneyCost+'</span></td>'+
                            '<td><span id="TimeCost_'+data[i].Id+'">'+data[i].TimeCost+'</span></td>'+
                            '<td>'+
                            '<div class="am-dropdown" data-am-dropdown>'+
                            '<button  onclick="editProcess('+data[i].Id+');" class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span></button>'+
                            '</div>'+
                            '</td>'+
                            '</tr>';
                }
                temp='<tbody>'+temp+'</tbody>';
                temp='<table class="am-table am-table-bd am-table-striped admin-content-table">'+
                        '<thead>'+
                        '<tr>'+
                        '<th>ID</th><th>过程名称</th><th>过程类别</th><th>成本(元)</th><th>周期(天)</th><th>管理</th>'+
                        '</tr>'+
                        '</thead>'+temp+'</table>';
                $('#list').html(temp);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>

</head>
</body>
<!--弹出层时背景层DIV-->
<div id="div_add" class="am-container addCompany">
    <div class="am-form">
        <div class="am-form-group">
            <label>过程名称</label>
            <input id="ProcedureName" type="text" placeholder="例如：徐汇区核名">
        </div>
        <div class="am-form-group">
            <label >过程类别</label>
            <div id="Types"></div>
        </div>
        <div  class="am-form-group">
            <label id="lb_mobile">执行成本（元）</label>
            <input id="MoneyCost" type="number" placeholder="完成当前过程的成本">
        </div>
        <div  class="am-form-group">
            <label id="lb_company">时间成本（天）</label>
            <input id="TimeCost" type="number" placeholder="完成当前过程需要的时间">
        </div>
        <button type="button" style="margin-bottom: 20px;" id="bn_add" class="am-btn am-btn-primary am-btn-sm am-fl">确定</button>
    </div>
</div>
<!--弹出层时背景层DIV-->
<div id="div_edit" class="am-container addCompany">
    <div class="am-form">
        <div class="am-form-group">
            <label>过程名称</label>
            <input id="ProcedureName_edit" type="text" >
        </div>
        <div class="am-form-group">
            <label >过程类别</label>
            <div id="Types_edit"></div>
        </div>
        <div  class="am-form-group">
            <label id="lb_mobile_edit">执行成本（元）</label>
            <input id="MoneyCost_edit" type="number" placeholder="完成当前过程的成本">
        </div>
        <div  class="am-form-group">
            <label id="lb_company_edit">时间成本（天）</label>
            <input id="TimeCost_edit" type="number" placeholder="完成当前过程需要的时间">
        </div>
        <button type="button" style="margin-bottom: 20px;" id="bn_update" class="am-btn am-btn-primary am-btn-sm am-fl">更新</button>
    </div>
</div>
</html>
