<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin user Examples</title>
    <meta name="description" content="这是一个 user 页面">
    <meta name="keywords" content="user">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>Amaze UI</strong> <small>后台管理模板</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                        <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                        <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                        <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
                        <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
                    </ul>
                </li>
                <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
                <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span> wiki</p>
                    <p>Welcome to the Amaze UI wiki!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">业务管理</strong> / <small>新增业务</small></div>
                <div style="float: right;" ><span class="am-icon-user am-text-warning"></span><a href="#"><span style="margin-left: 5px;cursor: hand;" onclick="showTasklist();"  class="am-text-warning">查询工作人员负荷</span></a></div>
            </div>

            <hr/>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="am-form" style="margin-left: -15px;margin-top: -15px;margin-bottom: -10px;">
                        <div class="am-panel-hd am-cf"  style="color: #1091d2;">订单信息</div>
                        <div id="div-plain-order"  class="am-panel-bd am-collapse am-in" style="margin-top: -20px;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 100px;">订单编号：</td>
                                    <td >PO00987-65</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">订单日期：</td>
                                    <td>2013-07-12</td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;">客户：</td>
                                    <td ><a href="">王葵</a></td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;"><a href="">订单明细</a></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="task"></div>
                    <!--<div class="am-panel am-panel-default">-->
                        <!--<div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-4'}">工商注册<span class="am-icon-chevron-down am-fr" ></span></div>-->
                        <!--<div id="collapse-panel-4" class="am-in" style="padding: 8px;padding-left: 14px;">-->
                            <!--<ul class="am-list admin-content-task">-->
                                <!--<li>-->
                                    <!--<div class="admin-task-bd" >-->
                                        <!--流程：<span style="color: #2ea8e5;">采集注册信息</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--执行序号：<span style="color: #2ea8e5;">1</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--执行人：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--预计完成日期：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--备注：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="am-cf">-->
                                        <!--<div class="am-btn-toolbar am-fl">-->
                                            <!--<div class="am-btn-group am-btn-group-xs">-->
                                                <!--<button type="button" onclick="editProcess();" class="am-btn am-btn-default"><span class="am-icon-pencil"></span><span style="margin-left: 3px;">编辑</span></button>-->
                                                <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span><span style="margin-left: 3px;">删除</span></button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="admin-task-bd" >-->
                                        <!--流程：<span style="color: #2ea8e5;">核名</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--执行序号：<span style="color: #2ea8e5;">2</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--执行人：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--预计完成日期：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="admin-task-bd">-->
                                        <!--备注：<span style="color: #2ea8e5;">无</span>-->
                                    <!--</div>-->
                                    <!--<div class="am-cf">-->
                                        <!--<div class="am-btn-toolbar am-fl">-->
                                            <!--<div class="am-btn-group am-btn-group-xs">-->
                                                <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-pencil"></span><span style="margin-left: 3px;">编辑</span></button>-->
                                                <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span><span style="margin-left: 3px;">删除</span></button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>

    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../layer/layer.js"></script>
<script type="text/javascript">
    var processlist=[];
    var productIds=[];
    var new_n=0;
    var taskinfo={
//        agentid:'0',//公司用户编号
//        seterId:'1',//流程设置者编号
//        productId:'1',//产品编号
//        productName:'工商注册',//产品名称
//        processId:'1',//流程编号
//        processName:'采集注册信息',//流程名
//        orderId:'1',//执行序号
//        userId:'1',//执行人Id
//        userName:'王葵',//执行人
//        supposedday:'20170328',//预计完成日期
//        notes:'无',//备注
//        stat:'1',//当前状态(0-未激活，1-未执行，2-执行中，3-已完成，99-已删除）
//        finishedday:'20170401'//实际完成日期
    };
    $(function(){
        inifrm();
        $('#bn_update_process').click(function(){
            updateProcess(function(){
                updateTaskm();
            });
        });
    });
    //构建模型
    var createModel=function(){

    };
    //编辑流程
    var editProcess=function(n){
        new_n=n;
        layer.open({
            title:'编辑流程',
            area: ['600px', '360px'],
            type: 1,
            shadeClose: false, //点击遮罩关闭
            content: $("#div-show-process")
        });
        setTimeout(function(){
            //序号
            $('#Orderlist').val(processlist[n].OrderId);
            //过程名
            $('#ProcessName').val(processlist[n].ProcessName);
            //预计完成日期
            var Supposedday=JSON.stringify(processlist[n].Supposedday);
            console.log('Supposedday:'+Supposedday);
            if(Supposedday!='0'){
                var set_finishday=Supposedday.substr(0,4)+'-'
                +Supposedday.substr(4,2)+'-'
                +Supposedday.substr(6,2);
                $('#finishday').datepicker('setValue',set_finishday);
                console.log(set_finishday);
            }
            //执行人
            $('#Userlist').val(processlist[n].UserId);
            //备注
            $('#Notes').val(processlist[n].Notes);
        },200);
    };
    //修改流程参数
    var updateProcess=function(callback){
        for(var i=0;i<processlist.length;i++){
            if(new_n==i){
                processlist[i].OrderId=$('#Orderlist').val();
                processlist[i].Supposedday=$('#finishday').val().replace('-','').replace('-','');
                processlist[i].UserId=$('#Userlist').val();
                processlist[i].UserName=$('#Userlist').find("option:selected").text();
                processlist[i].Notes=$('#Notes').val();
                //赋值
                $('#order_'+i).html($('#Orderlist').val());
                $('#user_'+i).html($('#Userlist').find("option:selected").text());
                $('#sup_'+i).html($('#finishday').val());
                $('#note_'+i).html($('#Notes').val());
            }
        }
        layer.closeAll();
        callback();
    };
    //弹出人员负荷
    var showTasklist=function(){
        layer.open({
            title:'人员任务负荷',
            area: ['600px', '360px'],
            type: 1,
            shadeClose: false, //点击遮罩关闭
            content: $("#div-show-task-list")
        });
    };
    //初始化执行人
    var iniuserlist=function(){
        $.ajax({
            type:'get',
            url:'/user/list',
            data:{},
            dataType:'json',
            success:function(datas){
                var data=datas.data;
                var user_list='';
                for(var i=0;i<data.length;i++){
                    temp={
                        uid:data[i].uid,
                        uname:data[i].name
                    };
                    user_list=user_list+'<option value="'+data[i].uid+'">'+data[i].name+'</option>';
                }
                user_list='<select id="Userlist"><option value=""></option>'+user_list+'</select>';
                $('#Users').html(user_list);
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    //人员负荷
    var usertasklist=function(){
        $.ajax({
            type:'get',
            url:'/user/task',
            data:{},
            dataType:'json',
            success:function(datas){
                var data=datas.data;
                var divlist='';
                for(var i=0;i<data.length;i++){
                    divlist=divlist+'<tr>' +
                            '<td>'
                            +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">'+data[i].Uname+'</div>'
                            + '</td>' +
                            '<td>'
                            +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">'+data[i].Task_wjh+'</div>'
                            + '</td>' +
                            '<td>'
                            +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">'+data[i].Task_wzx+'</div>'
                            + '</td>' +
                            '<td>'
                            +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">'+data[i].Task_zxz+'</div>'
                            + '</td>' +
                            '</tr>';
                }
                divlist='<table class="am-table am-table-striped am-table-hover table-main">'
                +'<tr>' +
                '<td>'
                +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">执行人</div>'
                + '</td>' +
                '<td>'
                +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">未激活</div>'
                + '</td>' +
                '<td>'
                +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">未执行</div>'
                + '</td>' +
                '<td>'
                +'<div style="width:80px;word-wrap:break-word; word-break:break-all;">执行中</div>'
                + '</td>' +
                '</tr>'
                +divlist+'</table>';
                $('#tasklist').html(divlist);
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    //读取初始化任务列表
    var initasklist=function(){
        $.ajax({
            type:'get',
            url:'/order/getTaskmInfos',
            data:{'Oid':1},
            dataType:'json',
            success:function(result){
                var data=result.data;
                for(var i=0;i<data.length;i++){
                    taskinfo={
                        'Id':data[i].Id,
                        'AgentId':data[i].AgentId,
                        'SeterId':data[i].SeterId,
                        'ProductId':data[i].ProductId,
                        'ProductName':data[i].ProductName,
                        'ProcessId':data[i].ProcessId,
                        'ProcessName':data[i].ProcessName,
                        'OrderId':data[i].OrderId,
                        'UserId':data[i].UserId,
                        'UserName':data[i].UserName,
                        'Supposedday':data[i].Supposedday,
                        'Notes':data[i].Notes,
                        'Stat':data[i].Stat,
                        'Finishedday':data[i].Finishedday
                    };
                    processlist.push(taskinfo);
                }
                splitproduct();
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    //拆分产品
    var splitproduct=function(){
        var temp_0={};
        for(var i=0;i<processlist.length;i++){
            checkproduct(processlist[i].ProductId,function(data){
                if(data==false){
                    temp_0={
                        ProductId:processlist[i].ProductId,
                        ProductName:processlist[i].ProductName
                    };
                    productIds.push(temp_0);
                }
            });
        }
        var pId='';
        var temp='';
        var divplan='';
        var set_finishday='';
        for(var m=0;m<productIds.length;m++){
            pId=productIds[m].ProductId;
            temp='';
            for(var n=0;n<processlist.length;n++){
                if(pId==processlist[n].ProductId){
                    try{
                        var fininshday=JSON.stringify(processlist[n].Supposedday);
                        if(fininshday!='0'){
                            set_finishday=fininshday.substr(0,4)+'-'+ fininshday.substr(4,2)
                                    +'-'+ fininshday.substr(6,2);
                        }else{
                            set_finishday='未设置';
                        }
                    }catch(e){
                        set_finishday='未设置';
                    }
                    temp=temp+'<li>'+
                            '<div class="admin-task-bd" >'+
                            '流程：<span style="color: #2ea8e5;">'+processlist[n].ProcessName+'</span>'+
                            '</div>'+
                            '<div class="admin-task-bd">'+
                            '执行序号：<span style="color: #2ea8e5;" id="order_'+n+'">'+processlist[n].OrderId+'</span>'+
                            '</div>'+
                            '<div class="admin-task-bd">'+
                            '执行人：<span style="color: #2ea8e5;" id="user_'+n+'">'+processlist[n].UserName+'</span>'+
                            '</div>'+
                            '<div class="admin-task-bd">'+
                            '预计完成日期：<span style="color: #2ea8e5;" id="sup_'+n+'">'+set_finishday+'</span>'+
                            '</div>'+
                            '<div class="admin-task-bd">'+
                            '备注：<span style="color: #2ea8e5;" id="note_'+n+'">'+processlist[n].Notes+'</span>'+
                            '</div>'+
                            '<div class="am-cf">'+
                            '<div class="am-btn-toolbar am-fl">'+
                            '<div class="am-btn-group am-btn-group-xs">'+
                            '<button type="button" onclick="editProcess('+n+');" class="am-btn am-btn-default"><span class="am-icon-pencil"></span><span style="margin-left: 3px;">编辑</span></button>'+
                            '<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span><span style="margin-left: 3px;">删除</span></button>'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '</li>';
                }
            }
            divplan=divplan+'<div class="am-panel am-panel-default"><div class="am-panel-hd am-cf" data-am-collapse="{target: \'#collapse-panel-'+pId+'\'}">'+productIds[m].ProductName+'<span class="am-icon-chevron-down am-fr" ></span></div>'+
                    '<div id="collapse-panel-'+pId+'" class="am-in" style="padding: 8px;padding-left: 14px;">'+
                    '<ul class="am-list admin-content-task">'+temp+'</ul> </div></div></div>';
            console.log('m:'+m);
        }
        $('#task').html(divplan);
    };
    //校验productIds是否重复
    var checkproduct=function(Id,callback){
        var flag=false;
        for(var i=0;i<productIds.length;i++){
            if(Id==productIds[i].ProductId){
                flag=true;
            }
        }
        callback(flag);
    };
    //修改设置
    var updateTaskm=function(){
        var set_finishday='0';
        if($('#finishday').val()!=''){
            set_finishday=$('#finishday').val().replace('-','').replace('-','');
        }
        var postdata={
            'OrderId':$('#Orderlist').val(),
            'UserId':$('#Userlist').val(),
            'UserName':$('#Userlist').find("option:selected").text(),
            'Supposedday':set_finishday,
            'Notes':$('#Notes').val()
        };
        $.ajax({
            type:'post',
            url:'/taskm/'+processlist[new_n].Id+'/updateTaskm',
            data:postdata,
            dataType:'json',
            success:function(data){
            },
            error:function(e){
                console.log(e);
            }
        })
    }
    //初始化
    var inifrm=function(){
        $.ajax({
            type:'get',
            url:'/inifrm',
            data:{},
            dataType:'json',
            success:function(data){
                iniuserlist();
                usertasklist();
                initasklist();
            },
            error:function(err){
                console.log(err);
            }
        });
    }
</script>
</body>
<!--弹出层时背景层DIV-->
<div id="div-add-customer" class="am-container addCompany">
    <div style="margin-top: 5px;">
        <table>
            <tr>
                <td width="5px;"></td>
                <td width="100px;">客户姓名：</td>
                <td ><input id="customer-name" type="text" style="width: 120px;" ></td>
                <td width="10px;"></td>
                <td width="100px;" >手机号码：</td>
                <td ><input id="customer-mobile" type="text" style="width: 120px;" ></td>
                <td width="5px;"></td>
                <td width="110px;">
                    <button id="bn_query_customer" style="margin-left: 12px;" type="button" class="am-btn am-btn-primary">查询</button>
                </td>
            </tr>
        </table>
    </div>
    <div  style="margin-top: 5px;">
        <div id="customerlist"></div>
    </div>
</div>
<!--弹出层时背景层DIV-->
<div id="div-show-process" class="am-container addCompany">
    <div class="am-form">
        <div class="am-form-group">
            <label id="lb_orderid">执行序号</label>
            <select id="Orderlist">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="am-form-group">
            <label id="lb_linkman">流程名称</label>
            <input id="ProcessName" type="text" readonly>
        </div>
        <div class="am-form-group">
            <label id="lb_finishday">预计完成日期</label>
            <input id="finishday"  type="text" placeholder="请选择日期" data-am-datepicker readonly >
        </div>
        <div  class="am-form-group">
            <label id="lb_mobile">执行人</label>
            <span id="Users"></span>
        </div>
        <div  class="am-form-group">
            <label id="lb_taitou">备注</label>
            <input id="Notes" type="text" >
        </div>
        <div  class="am-form-group">
        <button id="bn_update_process"  type="button" class="am-btn am-btn-primary">确定</button>
        </div>
    </div>
</div>
<!--弹出层工作人员负荷DIV-->
<div id="div-show-task-list" class="am-container addCompany">
    <div id="tasklist"></div>
</div>
</html>
