<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin user Examples</title>
    <meta name="description" content="这是一个 user 页面">
    <meta name="keywords" content="user">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="../image/png" href="../assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>Amaze UI</strong> <small>后台管理模板</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> <span id="admin"></span> <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <div id="leftmenu"></div>
            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 帮助</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基础数据</strong> / <small>执行过程</small></div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12" >
                    <hr>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="#"><input type="button" id="add" name="" value="新增过程" class="am-btn am-btn-primary am-btn-sm am-fl"></a>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select id="typequery" data-am-selected="{btnSize: 'sm'}">
                                    <option value="0">所有类别</option>
                                    <option value="1">工商注册</option>
                                    <option value="2">工商变更</option>
                                    <option value="3">银行开户</option>
                                    <option value="4">财务代理</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" id="keywords" class="am-form-field">
                                  <span class="am-input-group-btn">
                                    <button id="query" class="am-btn am-btn-default" type="button">搜索</button>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12">
                    <div id="list"></div>
                </div>
                <div class="am-u-sm-12">
                    <div class="am-fr"style="float: left;">
                        <ul class="am-pagination">
                            <li id="pro"><a href="#">上一页</a></li>
                            <li id="nex"><a href="#">下一页</a></li>
                            <li id="totle"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="admin-content-footer">
            <hr>
            <div id="footer"></div>
        </footer>
    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../assets/js/amazeui.ie8polyfill.min.js"></script>
<script src="../javascripts/jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../layer/layer.js"></script>
<script src="../javascripts/jquery-1.10.2.min.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">

    var processList=[];//生成过程
    $(function(){
        setTimeout(function(){
            inifrms();
        },500);
    });
    //查询生成过程
    var queryProcessList=function(){
        var divlist='';
        $.ajax({
            type:'get',
            url:'/product/query',
            data:{'keywords':$('#process-name').val(),'TypeId':$('#typequery').val(),'Stat':0,'count':100,'currentpage':0},
            dataType:'json',
            success:function(datas){
                if(datas.msg=='yes'){
                    var data=datas.result.data;
                    processList=[];
                    for(var i=0;i<data.length;i++){
                        var temp={
                            Id:data[i].Id,
                            TypeId:data[i].TypeId,
                            TypeName:data[i].TypeName,
                            AgentId:data[i].AgentId,
                            ProcedureName:data[i].ProcedureName,
                            Stat:data[i].Stat,
                            MoneyCost:data[i].MoneyCost,
                            TimeCost:data[i].TimeCost
                        };
                        divlist=divlist+'<tr>' +
                                '<td><a href="#" onclick=addProcess("'+data[i].Id+'") >选择</a>'
                                +'<div style="width:270px;word-wrap:break-word; word-break:break-all;">'+data[i].ProcedureName+'</div>'
                                + '</td>' +
                                '</tr>';
                        processList.push(temp);
                    }
                    divlist='<table class="am-table am-table-striped am-table-hover table-main">'+divlist+'</table>';
                    $('#processlist').html(divlist);
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    var inifrm=function(){
        $.ajax({
            type:'get',
            url:'/inifrm',
            data:{},
            dataType:'json',
            success:function(data){
                iniProcess();
            },
            error:function(err){
                console.log(err);
            }
        });
    };
    //初始化产品生产过程
    var iniProcess=function(){
        $.ajax({
            type:'get',
            url:'/procedure/query',
            data:{'count':10,'currentpage':0,'Stat':'0'},
            dataType:'json',
            success:function(datas){
                if(datas.msg=='yes'){
                    var data=datas.result.data;
                    var divlist='';
                    processList=[];
                    for(var i=0;i<data.length;i++){
                        var temp={
                            Id:data[i].Id,
                            TypeId:data[i].TypeId,
                            TypeName:data[i].TypeName,
                            AgentId:data[i].AgentId,
                            ProcedureName:data[i].ProcedureName,
                            Stat:data[i].Stat,
                            MoneyCost:data[i].MoneyCost,
                            TimeCost:data[i].TimeCost
                        };
                        divlist=divlist+'<tr>' +
                                '<td><a href="#" onclick=addProcess("'+data[i].Id+'") >选择</a>'
                                +'<div style="width:270px;word-wrap:break-word; word-break:break-all;">'+data[i].ProcedureName+'</div>'
                                + '</td>' +
                                '</tr>';
                        processList.push(temp);
                    }
                    divlist='<table class="am-table am-table-striped am-table-hover table-main">'+divlist+'</table>';
                    $('#processlist').html(divlist);
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    };
    //初始化操作
    var inifrms=function(){
        $.commonoperation._createFooterHtml(function(data){
            $('#footer').html(data);
        });
        $.commonoperation._createLeftMenu(function(data){
            console.log(data);
            $('#leftmenu').html(data);
        });
    };

</script>
</body>
</html>
